.detailCard {
    width: 400px;
    padding: 30px;
    margin: 30px;
    font-size: 10px;
    background-color: papayawhip;
    border: 1px solid #e1e1e1;
    border-radius: 10px;
}

img{
    width: 80%;
}

h2{
    font-size: 40px;
}

.informacion{
    font-size: 20px;
}