.ItemListContainer {
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 80vh;
}

.cards{
    display: flex;
    flex-direction: row;
    padding: 20px;
    justify-content: space-between;
}